@import "tailwindcss";


@theme {
  --color-my-orange: #ea580c;
  --color-my-orange-dark: #c2410c;
  

  --font-urbanist: "Urbanist", sans-serif;
}


@plugin "daisyui"{
  themes: light --default, dark --prefersdark;
}

/* 3. Fonts and other base styles */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: var(--font-urbanist);
}


@media (prefers-color-scheme: dark) {
  body {
    background-color: #0f172a;
    color: #f8fafc;
  }
}